export(capacity)
export(generations)
export(groan.capacity)
export(groan.fit)
export(groan.generations)
export(groan.init)
export(groan.mu)
export(groan.smooth)
export(groan.tlag)
export(groan.tsat)
export(groany)
export(lines.Curves)
export(loess.xy.coords)
export(mu)
export(plot.Curves)
export(points.Curves)
export(smooth.adaptive.loess)
export(smooth.adaptive.lowess)
export(smooth.adaptive.spline)
export(specificRate)
export(tlag)
export(tsat)
S3method(max,Curves)
S3method(min,Curves)
S3method(range,Curves)
