export(groan.capacity)
export(groan.fit)
export(groan.generations)
export(groan.init)
export(groan.logifit)
export(groan.mu)
export(groan.mumax)
export(groan.pulsefit)
export(groan.smooth)
export(groan.tlag)
export(groan.tsat)
export(loess.xy.coords)
export(smooth.adaptive.loess)
export(smooth.adaptive.lowess)
export(smooth.adaptive.spline)
